body{
    font-family: 'Open Sans',
    sans-serif;
    background:#18181b;
    color:#f5f5f4;
    margin:0;
}
.jobform{
margin: 20px auto;
display:block;
padding:22px;
text-align :left;
border:2px solid white;
max-width:600px;
}
.logininput{
    width:280px;
    font-size:18px;
    padding:8px;
    margin:0px 12px;
    border:2px hidden;
    border-radius: 8px;
}
.logininput:focus{
    outline:none;
}
.nextbtn{
    font-size:18px;
    text-align:center;
    margin:12px 0px 20px 0px;
    padding:8px 32px;
    outline:none;
    background:white;
    color:black;
    cursor:pointer;
    border: 2px hidden;
    border-radius:8px;
}
.nav{
    padding:12px;
    background:#3366cc;
    margin:0;
}
#title{
    display:inline;
    padding: 0px 8px ;
}
#header{
    margin:20px auto;
    display:block;
    text-align:center;
}